# Copyright (c) 2020 The ZMK Contributors
# SPDX-License-Identifier: MIT

if BOARD_PUFFIN

config PUFFIN
    default "Puffin"

config ZMK_USB
    default y
	
config ZMK_BLE
    default y

config ZMK_KSCAN_MATRIX_POLLING
    default y

endif # BOARD_PUFFIN
