/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

/dts-v1/;
#include <nordic/nrf52840_qiaa.dtsi> 
#include <dt-bindings/zmk/matrix_transform.h>
#include <dt-bindings/led/led.h>

/ {
    model = "puffin";
    compatible = "puffin","puffin";

	chosen {
		zephyr,code-partition = &code_partition;
		zephyr,sram = &sram0;
		zephyr,flash = &flash0;
		zmk,kscan = &kscan;
		zmk,matrix_transform = &ortho_transform;
		zmk,battery = &vbatt;
		zephyr,console = &cdc_acm_uart0;
		zmk,underglow = &led_strip;
	};

	aliases {
		led0 = &blue_led;
	};

	leds {
		compatible = "gpio-leds";
		blue_led: led_0 {
			gpios = <&gpio0 16 GPIO_ACTIVE_HIGH>;
			label = "Blue LED";
		};
	};

	vbatt: vbatt {
		compatible = "zmk,battery-nrf-vddh";
		label = "BATTERY";
	};

	softlock {
		compatible = "zmk,soft-locker-gpio";

		input-gpios = <&gpio0 2 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>;
		wakeup-sources = <&kscan>;
		output-gpios 
			= <&gpio0 12 GPIO_ACTIVE_HIGH>
			;
	};

	ortho_transform: ortho_transform {
		compatible = "zmk,matrix-transform";
		rows = <4>;
		columns = <5>;

		map = <
	RC(0,0) RC(0,1) RC(0,2) RC(0,3) RC(0,4)
	RC(1,0) RC(1,1) RC(1,2) RC(1,3) RC(1,4)
	RC(2,0) RC(2,1) RC(2,2) RC(2,3) RC(2,4)
	RC(3,0) RC(3,1) RC(3,2) RC(3,3) RC(3,4)
	>;
	};

	kscan: kscan {
		compatible = "zmk,kscan-gpio-matrix";
		wakeup-source;
		label = "KSCAN";
		debounce-press-ms = <1>;
		debounce-release-ms = <5>;

		diode-direction = "col2row";

		col-gpios
			= <&gpio0 4 (GPIO_ACTIVE_HIGH)>
			, <&gpio0 31  (GPIO_ACTIVE_HIGH)>
			, <&gpio0 30 (GPIO_ACTIVE_HIGH)>
			, <&gpio0 29 (GPIO_ACTIVE_HIGH)>
			, <&gpio0 28 (GPIO_ACTIVE_HIGH)>
			;
		row-gpios
			= <&gpio1 13 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>
			, <&gpio1 15 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>
			, <&gpio0 3 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>
			, <&gpio0 2 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>
			;
	};
	
	trackballs {
		compatible = "zmk,keymap-trackballs";
		trackballs = <&trackball>;
	};
};

&adc {
	status = "okay";
};

&gpiote {
	status = "okay";
};

&gpio0 {
	status = "okay";
};

&gpio1 {
	status = "okay";
};


&usbd {
	status = "okay";
	cdc_acm_uart0: cdc_acm_uart0 {
		compatible = "zephyr,cdc-acm-uart";
		label = "CDC_ACM_0";
	};
}; 


&flash0 {
	/*
	 * For more information, see:
	 * http://docs.zephyrproject.org/latest/devices/dts/flash_partitions.html
	 */
	partitions {
		compatible = "fixed-partitions";
		#address-cells = <1>;
		#size-cells = <1>;

		sd_partition: partition@0 {
			label = "mbr";
			reg = <0x00000000 0x00001000>;
		};
		code_partition: partition@1000 {
			label = "code_partition";
			reg = <0x00001000 0x000d3000>;
		};

		storage_partition: partition@d4000 {
			label = "storage";
			reg = <0x000d4000 0x00020000>;
		};

		boot_partition: partition@f4000 {
			label = "adafruit_boot";
			reg = <0x000f4000 0x0000c000>;
		};
	};
};

&spi0 {
	compatible = "nordic,nrf-spim";
	status = "okay";
	sck-pin = <19>;
	mosi-pin = <23>;
	miso-pin = <21>;
	cs-gpios = <&gpio0 12 GPIO_ACTIVE_LOW>;

	trackball: pmw3360@0 {
		compatible = "pixart,pmw33xx";
		reg = <0>;
		label = "MOUSE";
		spi-max-frequency = <2000000>;
		cs-gpios = <&gpio0 12 GPIO_ACTIVE_LOW>;
		irq-gpios = <&gpio0 5 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>;
	};
};

&spi1 {
  compatible = "nordic,nrf-spim";
  status = "okay";

	sck-pin = <39>;
	mosi-pin = <40>;
	miso-pin = <40>;

  led_strip: ws2812@0 {
    compatible = "worldsemi,ws2812-spi";
    label = "WS2812";

    /* SPI */
    reg = <0>; /* ignored, but necessary for SPI bindings */
    spi-max-frequency = <4000000>;

    /* WS2812 */
    chain-length = <17>; /* number of LEDs */
    spi-one-frame = <0x70>;
    spi-zero-frame = <0x40>;
    color-mapping = <LED_COLOR_ID_GREEN
                          LED_COLOR_ID_RED
                          LED_COLOR_ID_BLUE>;
  };
};